<div style="display:flex; justify-content: center;margin:1%">
  <a href="/room/list" class="btn-admin"><button type="button" class="btn btn-primary">Room</button></a>
  <a href="/reservation/list" class="btn-admin"><button type="button" class="btn btn-secondary">Reservation</button></a>
  <a href="/user/list" class="btn-admin"><button type="button" class="btn btn-success">User</button></a>
  <a href="/message/list" class="btn-admin"><button type="button" class="btn btn-danger">Message</button></a>
</div>
<style>
  .btn-admin{
    margin: 0.5%;
  }
</style>
<div class="mt-4">
    <h1>Update room</h1>
    {{!-- PUT để chỉnh sửa --}}
    <form method="POST" action="/room/{{room._id}}?_method=PUT">
        <div class="mb-3">
            <label for="roomNumber" class="form-label">Room Number</label>
            <input type="input" class="form-control" value = "{{room.roomNumber}}" id="roomNumber" name="roomNumber">
        </div>
        <div class="mb-3">
            <label for="type" class="form-label">Type</label>
            <input type="input" class="form-control" value = "{{room.type}}" id="type" name="type">
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input type="input" class="form-control" value = "{{room.image}}" id="image" name="image">
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Detail</label>
            <input type="input" class="form-control" value = "{{room.detail}}" id="detail" name="detail">
        </div>
        <div class="mb-3">
            <label for="cost" class="form-label">Cost ($)</label>
            <input type="input" class="form-control" value = "{{room.cost}}" id="cost" name="cost">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>