
{{!-- -------body------- --}}

<style>
    *{
        font-family: Arial, Helvetica, sans-serif;
    }
</style>
<div class="home-container">
    <div class="form_box">
        <form method="POST" action="/" class="form_filter">
            <div class="filter">
                <div class="col-4 form-control1">
                    <input type="number" class="form-control" placeholder="Min Cost ($)" min="0" max="200" name="minCost"
                        id="minCost">
                </div>
                <div class="col-4 form-control1">
                    <input type="number" class="form-control" placeholder="Max Cost ($)" min="0" max="200" name="maxCost"
                        id="maxCost">
                </div>
            </div>
            <button type="submit" id="autoSubmitBtn" style="display: none;"></button>
        </form>
    </div>
    <div class="container-fluid mt-4">
        <div class="row">
            {{#each room}}
            <div class="col-sm-6 col-lg-4 card__list card__shadow">
                <div class="card" style="margin-bottom: 25px;">
                    <a href="/room/{{this.roomNumber}}">
                        <img src="{{this.image}}" class="card-img-top" alt="..." style="height: 280px;">
                    </a>
                    <div class="card-body">
                        <h6 class="card-title" style="font-weight: 550;">Room : {{this.roomNumber}}</h6>
                        <div style="display: flex; justify-content: space-between;">
                            <p class="card-text" style="font-size: 17px;font-weight: 550;color: black;"><i>Type bed: {{this.type}}</i></p>
                            <h3 style="color: green;font-size: 28px;font-weight: 550;">{{this.cost}} $</h3>
                        </div>
                       
                        <div class="bookbtn" style="text-align: center;">
                            <a href="/room/{{this.roomNumber}}" class="btn" style="width: 30%;background-color:#33c757 ;padding: 10px;font-size: 16px;font-weight: 600;color: white;">Check</a>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="chat-icon">
        <ion-icon name="logo-wechat" id="iconChat"></ion-icon>
    </div>
    <div class="chat-box">
        <div class="chat-block "></div>
        <form class="chat-form" method="POST" action="/message/store">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Your Phone</label>
                <input type="text" class="form-control" id="exampleInputEmail1" name="phoneNumber">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Message</label>
                <input type="text" class="form-control" name="message">
            </div>
            <div style="display:flex; justify-content: space-around;">
                <button type="submit" class="btn btn-primary ">Send</button>
                <ion-icon name="close-sharp" id="iconChatClose"></ion-icon>
            </div>
        </form>
    </div>
</div>
<footer class="footer">
    
    <div class="footer_contact">
        <h3 style="margin: auto;">Travel Booking</h3>
        <p style="margin: auto;">Address: 236 Hoang Quoc Viet</p>
        <p style="margin: auto;">Email: admin@gmail.com</p>
        <p style="margin: auto;">Phone: 0123456789</p>
    </div>
</footer>

<script>
    var iconChat = $("#iconChat");
    var chatBox = $(".chat-box");
    var chatBoxClose = $("#iconChatClose");
    iconChat.on("click", function (event) {
            chatBox.show();
        });
    chatBoxClose.on("click", function (event) {
            chatBox.hide();
        });
</script>